@import "src/styles/main";

.commentBoxWrapper {
  .commentAvatar {
    width: 30px !important;
    height: 30px !important;
    font-size: 15px !important;
  }

  .addCommentField {
    background-color: #b9b9b947 !important;
    border-radius: 50px;
    padding: 2px 5px 2px 12px !important;
  }

  .linkButton {
    &:hover {
      background: transparent !important;
      text-decoration: underline !important;
    }
  }
}
